<div class="card">
  <div class="card-header text-left"><h5>New Weight Entry</h5></div>
  <div class="card-body">
    <form #entryForm="ngForm" class="form-inline">
      <label for="weight" class="sr-only">Weight</label>
      <input type="text" name="weight" id="weight" class="form-control my-1 mr-sm-2" required #weightInput #weight="ngModel"
        autocomplete="off" placeholder="Weight" [(ngModel)]="model.weight"> 
      
    
      <label for="bodyfat" class="sr-only">Body Fat %</label>
      <input type="text" #bodyfat="ngModel" name="bodyfat" id="bodyfat" autocomplete="off" class="form-control my-1 mr-sm-2" placeholder="Body Fat %" [(ngModel)]="model.bodyfat" required> 
      
  
      <label for="entryDate" class="sr-only">Date</label>
      <input type="text" name="entryDate" id="entryDate" autocomplete="off" class="form-control my-1 mr-sm-2" placeholder="Date (mm/dd/yyyy)"
        [(ngModel)]="model.date" required #entryDate="ngModel" > 

      

      <button (click)="createEntry(); resetForm(); weightInput.focus()"  class="btn btn-primary my-1" [disabled]="!entryForm.form.valid">Save</button>
      
    </form>
  </div>
</div>