<table class="table container">
    <thead>
      <tr>
        <th></th>
        <th scope="col">Date</th>
        <th scope="col">Weight</th>
        <th [hidden]="!showBodyFat" scope="col">Body Fat %</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entry of entries | async" >
        <td style="width:20px;">
          <span class="deleteIcon" (click)="onDelete(entry)"><i class="fas fa-trash" ></i></span>
        </td>
        <td>{{entry.date | date}}</td>
        <td>{{entry.weight}} lbs</td>
        <td [hidden]="!showBodyFat">{{entry.bodyfat | percent}}</td>
      </tr>
    </tbody>
  </table>

  
<hm-confirm-modal (yes)="deleteRowConfirmed()">
    <div title>
        <i class="fas fa-trash-alt"></i> Confirm 
    </div>
    <div body>
    Are you sure you want to delete the entry from {{entryToDelete?.date | date}}?
    </div>
  </hm-confirm-modal>