<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

  <div class="nav">
    <ul class="navbar-nav mr-auto">
      <li class="navbar-brand">
        <i class="fas fa-weight"></i>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/home']" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/settings']" class="nav-link">Settings</a>
      </li>
      <li *ngIf="identitySvc.loggedIn" class="nav-item">
        <a [routerLink]="['/community']" class="nav-link ">Community</a>
      </li>  
      <li class="nav-item">
        <a *ngIf="!identitySvc.loggedIn" [routerLink]="['/login']" class="nav-link">Login</a>
      </li>
      <li class="nav-item">
        <a *ngIf="identitySvc.loggedIn" [routerLink]="['/login']" class="nav-link">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<main>
  <router-outlet></router-outlet>
</main>


